{"http_interactions":[{"request":{"method":"get","uri":"https://graph.facebook.com/me?access_token=invalid","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"Www-Authenticate":["OAuth \"Facebook Platform\" \"invalid_token\" \"Invalid OAuth access token.\""], "Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6eyJtZXNzYWdlIjoiSW52YWxpZCBPQXV0aCBhY2Nlc3MgdG9r\nZW4uIiwidHlwZSI6Ik9BdXRoRXhjZXB0aW9uIiwiY29kZSI6MTkwfX0=\n"},"http_version":null},"recorded_at":"Sat, 25 Oct 2014 16:40:43 GMT"}],"recorded_with":"VCR 2.9.3"}